@{
    ViewBag.Title = "Home Page";
}

<section class="container-fluid">
    <div class="main-image">

        <img class="mainpic" src="~/images/main.jpg" />

    </div>
</section>
<div class="row body-text">
    <div class="col-md-6">
        <h2>Green Garag</h2>
        <p>
            We are providing a very Green Environment for our Customers they Can Come and park the car and support the world's best Green Garag.
            We are providing a very Green Environment for our Customers they Can Come and park the car and support the world's best Green Garag.
            We are providing a very Green Environment for our Customers they Can Come and park the car and support the world's best Green Garag.
            We are providing a very Green Environment for our Customers they Can Come and park the car and support the world's best Green Garag.
            We are providing a very Green Environment for our Customers they Can Come and park the car and support the world's best Green Garag.
        </p>

    </div>
    <div class="col-md-6">
        <ul>
            <li>
                @*@Html.ActionLink("Park Your Car Here", "Create", "Vehicles")*@
                @*<img src="~/images/parking.gif" height="50" width="50" /> @Html.ActionLink("Park Your Car Here", "Create", "Vehicles")*@
            </li>
            <li>
                @*@Html.ActionLink("Park Your Car Here", "Delete", "Vehicles")*@
                @*<img src="~/images/parking.gif" height="50" width="50" /> @Html.ActionLink("Pick Your Car from Garage", "Find", "Vehicles")*@
            </li>


        </ul>
    </div>



</div>